html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Calibri", sans-serif;
    transition: background-color 1s linear;
}

#clock {
    font-size: clamp(2rem, 20vw, 10rem);
}
